@{
    ViewData["Title"] = "Thông báo";
    ViewData["Description"] = "Danh sách thông báo cá nhân, các thông báo liên quan đến công việc, nhóm";
    ViewData["Keywords"] = "Thông báo cá nhân, Thông báo, Danh sách thông báo, Quản lý thông báo, Thông báo đã đọc";
    ViewData["Author"] = "Nhóm 14, Trường Đại học Mở Hà Nội, Lập trình web nâng cao";
    ViewData["Robots"] = "index, follow";

    Layout = "_SimpleLayout";
}

@model IEnumerable<Notification>

<h2>Thông báo</h2>
<table class="table">
    <thead>
        <tr>
            <th>Tiêu đề</th>
            <th>Nội dung</th>
            <th>Thời gian</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model)
        {
            <tr class="@(notification.IsRead ? "" : "table-warning")">
                <td>@notification.Title</td>
                <td>@notification.Message</td>
                <td>@notification.CreatedTime.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td>
                    @if (!notification.IsRead)
                    {
                        <a href="@Url.Action("MarkAsRead", "Notification", new { id = notification.NotificationID })" class="btn btn-sm btn-primary">Đánh dấu đã đọc</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>